// app global css in SCSS form
@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 600;
  src: url("src/css/fonts/Sen-Regular.otf");
}
@font-face {
  font-family: "Sen-extra-bold";
  src: url("src/css/fonts/Sen-ExtraBold.otf");
}
@font-face {
  font-family: "Sen-bold";
  src: url("src/css/fonts/Sen-Bold.otf");
}
